# Django framework
Django==3.0.5

# Serve Static content
whitenoise==5.0.1

# Import variables from .env file
python-decouple==3.3

# DRF for making REST APIs
djangorestframework==3.11.0

# Postgresql support for django
psycopg2==2.8.5

# Database and Email settings
dj-database-url==0.5.0

# Django leaflet to enable leafletjs
django-leaflet==0.28.2

# Celery to perform Heavy-lifting & Asynchronous tasks
celery==4.4.2

# Deals with data-packages from datahub.io
datapackage==1.15.2

# Geographic add-ons for Django Rest Framework
djangorestframework-gis==0.15

# Django DRF filterset and filters add-on
django-filter==2.3.0

#django redis
django-redis==4.12.1

# Gunicorn advanced server
gunicorn==20.0.4

# Run checks on services like dB, queue servers, celery etc.
django-health-check==3.16.5



